{% extends "master.html" %}

{% block master_page_title %}{{ block.super }} | Coffee Beans{% endblock %}

{% block master_nav_class_beans %}on{% endblock %}

{% block master_content %}
    <h2>Coffee Beans</h2>
    <hr />
    <div class="inset">
        <ul>
            {% for coffee_bean in coffee_beans %}
            <li><a href="{{ coffee_bean.get_absolute_url }}">{{ coffee_bean.name }}</a> (<a href="{{ coffee_bean.roaster.get_absolute_url }}">{{ coffee_bean.roaster.name }}</a>)</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}