{% extends "master.html" %}

{% block master_page_title %}{{ block.super }} | Add Coffee Bean{% endblock %}

{% block master_nav_class_beans %}on{% endblock %}

{% block master_content %}
    <div class="pg-head">
        <ul class="section-nav">
            <li class="first"><a href="{% url coffee-beans %}">List</a></li>
            <li class="last on"><a href="{% url coffee-beans-add %}">Add</a></li>
        </ul>
        <h2>Add Coffee Bean</h2>
        <div class="cf"></div>
    </div>
    <hr />
    <div class="inset">
    {% include "coffee/beans_form_add.html" %}
    </div>
{% endblock %}