{% extends "master.html" %}

{% block master_nav_class_logs %}on{% endblock %}

{% block master_content %}
    <div class="pg-head">
        <ul class="section-nav">
            <li class="first last">
                {% if request.user.is_authenticated %}
                <a href="{% url coffee-log-add %}">Add Coffee Log</a>
                {% else %}
                <a href="{% url users-register %}">Register Now!</a>
                {% endif %}
            </li>
        </ul>
        <h2>Coffee Consumption Timeline</h2>
        <div class="cf"></div>
    </div>
    <hr class="dk" />
    {% include "coffee/coffee_log_list.html" %}
    
    <hr />
    <div class="hd-bar">
        <h3>Hot Spots</h3>
        <a href="{% url coffee-places %}" class="btn-go-hd">All Places</a>
        <div class="cf"></div>
    </div>
    <hr />
    <div class="inset">
        <div class="col-l">
            <h4>Most Visited</h4>
            <ul class="hot">
                {% for place in places_most_visited %}
                <li>
                    <h4><a href="{{ place.get_absolute_url }}">{{ place.name }}</a></h4>
                    <span class="tidbit">{{ place.coffeelog__count }} visit{{ place.coffeelog__count|pluralize }}</span>
                    <div class="cf"></div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-r">
            <h4>New Spots</h4>
            <ul class="hot">
                {% for place in places_new %}
                <li>
                    <h4><a href="{{ place.get_absolute_url }}">{{ place.name }}</a></h4>
                    <span class="tidbit">added {{ place.created|timesince }} ago</span>
                    <div class="cf"></div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="cf"></div>
    </div>
    
    <div class="hd-bar">
        <h3>Coffee Stats</h3>
        <!--><a href="{% url coffee-places %}" class="btn-go-hd">All Places</a>-->
        <div class="cf"></div>
    </div>
    <hr />
    <div class="inset">
        <div class="chart">
            <div class="chart-meta">
                <h4>Coffee Drinks</h4>
            </div>
            <img src="http://chart.apis.google.com/chart?cht=p&amp;chd=t:{{ drink_pcts|join:"," }}&amp;chs=650x200&amp;chl={{ drink_names|safeseq|join:"|"|urlencode }}&amp;chco=ccb78f&amp;chf=bg,s,e6cea1" />
            <div class="cf"></div>
        </div>
    </div>
    <hr />
    <div class="inset">
        <div class="chart">
            <div class="chart-meta">
                <h4>Coffee Spots</h4>
            </div>
            <img src="http://chart.apis.google.com/chart?cht=p&amp;chd=t:{{ place_pcts|join:"," }}&amp;chs=650x200&amp;chl={{ place_names|safeseq|join:"|"|urlencode }}&amp;chco=ccb78f&amp;chf=bg,s,e6cea1" />
            <div class="cf"></div>
        </div>
    </div>
    <hr />
    <div class="inset">
        <div class="chart">
            <div class="chart-meta">
                <h4>Homemade</h4>
            </div>
            <img src="http://chart.apis.google.com/chart?cht=p&amp;chd=t:{{ homemade_pcts|join:"," }}&amp;chs=650x200&amp;chl={{ homemade_names|safeseq|join:"|"|urlencode }}&amp;chco=ccb78f&amp;chf=bg,s,e6cea1" />
            <div class="cf"></div>
        </div>
    </div>
{% endblock %}