{% extends "master.html" %}

{% block master_content %}
    <h2>Coffee Consumption Timeline</h2>
    <hr class="dk" />
    {% include "coffee/coffee_log_list.html" %}
    
    <!--
    <h2>The Hottest</h2>
    <hr />
    <div class="col-3-l">
        <h3>Coffee Places</h3>
    </div>
    <div class="col-3-c">
        <h3>Coffee Drinks</h3>
    </div>
    <div class="col-3-r">
        <h3>Coffee Beans</h3>
    </div>
    <div class="cf"></div>
    -->
    
    <h2>Charts</h2>
    <hr />
    <div class="charts">
        <img src="http://chart.apis.google.com/chart?cht=p&amp;chd=t:{{ drink_pcts|join:"," }}&amp;chs=350x200&amp;chl={{ drink_names|join:"|"|urlencode }}&amp;chco=ccb78f&amp;chf=bg,s,e6cea1" />
        <img src="http://chart.apis.google.com/chart?cht=p&amp;chd=t:{{ place_pcts|join:"," }}&amp;chs=650x200&amp;chl={{ place_names|join:"|"|urlencode }}&amp;chco=ccb78f&amp;chf=bg,s,e6cea1" />
    </div>
{% endblock %}