{% extends "master.html" %}

{% block master_page_title %}{{ block.super }} | Place | {{ coffee_place.name }}{% endblock %}

{% block master_nav_class_places %}on{% endblock %}

{% block master_js %}
    {{ block.super }}
    {% if coffee_place.coffeeplacegeopoint %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" charset="utf-8">
        
        $(window).load(function() {
            var oMap;
            var oLatLng = new google.maps.LatLng({{ coffee_place.coffeeplacegeopoint.geo_point.tuple.1 }}, {{ coffee_place.coffeeplacegeopoint.geo_point.tuple.0 }});
            var oOpt = {
                'zoom': 14,
                'center': oLatLng,
                'mapTypeId': google.maps.MapTypeId.ROADMAP
            };
            oMap = new google.maps.Map(document.getElementById('coffee-place-map'), oOpt);
            
            var oMarker = new google.maps.Marker({
                'map': oMap,
                'position': oLatLng
            });
            
        });
        
    </script>
    {% endif %}
{% endblock %}

{% block master_content %}
    <a href="/places/" class="btn-go-hd">See All Coffee Places</a>
    <h2>{{ coffee_place.name }}</h2>
    <hr />
    <div class="cf"></div>
    <div class="inset">
        <div class="col-l">
            {% if coffee_place.coffeeplacegeopoint %}
            <div id="coffee-place-map"></div>
            {% endif %}
        </div>
        <div class="col-r">
            <div class="col-info">
                <h4>Address:</h4>
                <p>
                    {{ coffee_place.address }}<br />
                    {{ coffee_place.city }}, {{ coffee_place.state }} {{ coffee_place.zip }}
                </p>
                {% if coffee_place.url %}
                <p>
                    <a href="{{ coffee_place.url }}" target="_blank">{{ coffee_place.url }}</a>
                </p>
                {% endif %}
            </div>
            
            {% if coffee_place.roaster %}
            <div class="col-info-box">
                <h4>Related Roaster:</h4>
                <p>
                    <a href="{{ coffee_place.roaster.get_absolute_url }}" target="_blank">{{ coffee_place.roaster.name }}</a>
                    {% if coffee_place.roaster.url %}
                    <br /><a href="{{ coffee_place.roaster.url }}" target="_blank">{{ coffee_place.roaster.url }}</a>
                    {% endif %}
                </p>
            </div>
            {% endif %}
        </div>
        <div class="cf"></div>
    </div>
    
    {% if coffee_logs %}        
    <h3>Recent Visits</h3>
    <hr class="dk" />
    {% include "coffee/coffee_log_list.html" %}
    <hr />
    {% endif %}
    
{% endblock %}