/*
----------------------------------------------------
BASIC
----------------------------------------------------
*/

body {
    background-color: #341900;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 1.4em;
}

h1 {
    font-size: 30px;
    font-weight: normal;
    
}

h1,
h1 a {
    display: block;
    height: 70px;
    width: 288px;
}

h1 a {
    background: url('/_img/text/txt_coffee_log.gif') 0 0 no-repeat;
}

h2 {
    border-bottom: 1px solid #d9c298;
    font-size: 14px;
    line-height: 1em;
    padding: 15px 25px;
}

hr {
    border: none;
    border-top: 1px solid #f2d9aa;
    height: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/*
----------------------------------------------------
GLOBAL
----------------------------------------------------
*/

.alt {
    display: none;
}

hr.lt {
    border-color: #f2d9aa;
}

/*
----------------------------------------------------
LAYOUT
----------------------------------------------------
*/

#container {
    margin: 0 auto;
    width: 1100px;
}

#header {
    padding: 40px 0 30px;
}

#content {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #e6cea1;
    color: #341900;
    padding: 5px 0;
}

#content a {
    color: #994a00;
    font-weight: bold;
}

#content a:hover {
    color: #b35600;
}

.content-inset {
    padding: 25px;
}

/*
----------------------------------------------------
COFFEE LOGS
----------------------------------------------------
*/

.coffee-logs {
    margin-bottom: 20px;
}

.coffee-logs li {
    background-color: #fec;
    border-bottom: 1px solid #d9c298;
    line-height: 38px;
}

.coffee-logs .date,
.coffee-logs .info {
    float: left;
}

.coffee-logs .date {
    color: #99896b;
    font-weight: bold;
    padding: 0 10px 0 25px;
    width: 165px;
}

.coffee-logs .info {
    background: url('/_img/background/bg_timeline_item.gif') 0 0 no-repeat;
    padding: 0 30px;
    width: 840px;
}

.charts {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 20px 25px;
}

/*
----------------------------------------------------
COFFEE PLACES
----------------------------------------------------
*/

#coffee-place-map {
    border: 5px solid #ccb78f;
    height: 300px;
    margin-bottom: 25px;
    width: 1040px;
}