/*
----------------------------------------------------
BASIC
----------------------------------------------------
*/

body,
input,
select,
textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.4em;
}

body {
    background-color: #341900;
    color: #fff;
}

h1 {
    font-size: 30px;
    font-weight: normal;
    
}

h1,
h1 a {
    display: block;
    height: 70px;
    width: 288px;
}

h1 a {
    background: url('/_img/text/txt_coffee_log.gif') 0 0 no-repeat;
}

#content h2,
#content h3 {
    font-size: 16px;
    line-height: 1em;
    padding: 15px 25px;
}

#content h3 {
    font-size: 12px;
}

hr {
    border: none;
    border-bottom: 1px solid #f2d9aa;
    border-top: 1px solid #d9c298;
    clear: both;
    height: 0;
    margin: 0;
}

.vr {
    border-left: 1px solid #f2d9aa;
    border-right: 1px solid #d9c298;
    width: 0;
}

a {
    text-decoration: none;
}

/*
----------------------------------------------------
GLOBAL
----------------------------------------------------
*/

.alt {
    display: none;
}

hr.dk {
    border-bottom: none;
}

hr.lt {
    border-color: #f2d9aa;
}

/*
----------------------------------------------------
LAYOUT
----------------------------------------------------
*/

#container {
    margin: 0 auto;
    width: 1100px;
}

#header {
    padding: 40px 0 30px;
}

#content,
.box-user {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #e6cea1;
    color: #341900;
    padding: 5px 0;
}

#content a,
.box-user a {
    color: #994a00;
    font-weight: bold;
}

#content a:hover,
.box-user a:hover {
    color: #b35600;
}

.content-inset {
    padding: 25px;
}

#content .content-inset h3 {
    padding-left: 0;
    padding-right: 0s;
}

.col-l,
.col-r {
    float: left;
    width: 500px;
}

.col-l {
    margin-right: 40px;
}

.col-3-l,
.col-3-c,
.col-3-r {
    float: left;
    width: 332px;
}

#content .col-3-l h3,
#content .col-3-c h3,
#content .col-3-r h3 {
    padding-left: 0;
    padding-right: 0;
}

.col-3-l { padding: 0 12px 0 25px; }
.col-3-c { padding: 0 12px; }
.col-3-r { padding: 0 25px 0 12px; }

#footer {
    color: #4d2500;
    padding: 10px 0 20px;
}

.col-info + .col-info,
.col-info + .col-info-box,
.col-info-box + .col-info {
    margin-top: 20px;
}

.col-info-box {
    background-color: #f2d9aa;
    -moz-border-radius: 4px;
    padding: 10px;
}

/*
----------------------------------------------------
BUTTONS
----------------------------------------------------
*/

.btn-add {
    background: url('/_img/buttons/btn_add.gif') 0 0 no-repeat;
    height: 16px;
    width: 16px;
}

.btn-add:hover {
    background-position: 0 -16px;
}

/*
----------------------------------------------------
HEADER
----------------------------------------------------
*/

#header h1 {
    float: left;
}

#header .box-user {
    float: right;
}

/* USER BOX */

.box-user {
    -moz-border-radius: 4px;
    background-color: #e6cea1;
    font-weight: bold;
    padding: 0;
}

.box-user .msg,
.box-user ul {
    float: left;
}

.box-user .msg,
.box-user li a {
    padding: 5px 10px;
} 

.box-user ul {
    border-left: 1px solid #d9c298;
    padding-right: 5px;
}

.box-user li {
    border-left: 1px solid #f2d9aa;
    border-right: 1px solid #d9c298;
    float: left;
}

.box-user li.last {
    border-right: none;
}

.box-user li a {
    display: block;
}

.box-user li a.btn-add {
    margin: 5px;
    padding: 0;
}

/*
----------------------------------------------------
FORMS
----------------------------------------------------
*/

form li {
    padding: 0 0 10px 0;
}

label {
    display: block;
    font-weight: bold;
    padding: 5px 0;
}

.errors,
.hint {
    padding: 5px;    
}

.hint {
    color: #99896b;
    font-size: 11px;
}

.errors {
    color: #c00;
    font-weight: bold;
}

.field-text input,
.field-password input,
.field-textarea textarea {
    border-color: #ccb78f #ffe4b2 #ffe4b2 #ccb78f;
    border-style: solid;
    border-width: 1px;
    color: #333;
    -moz-border-radius: 3px;
    padding: 3px 6px;
}

.form-horizontal label,
.form-horizontal .field,
.form-horizontal .input {
    float: left;
}

.form-full-page label {
    float: left;
    margin-right: 20px;
    width: 150px;
}

.form-full-page .input,
.form-full-page .field-text input,
.form-full-page .field-password input,
.form-full-page .input select,
.form-full-page .input textarea,
.form-full-page .hint,
.form-full-page .errors {
    width: 300px;
}

.form-full-page .input,
.form-full-page .hint,
.form-full-page .errors {
    margin-left: 170px;
}

/*
----------------------------------------------------
PAGES
----------------------------------------------------
*/

#content h2 {
    float: left;
}

#content a.btn-go-hd {
    -moz-border-radius: 12px;
    background: #ccb78f url('/_img/icons/icn_arrow_go.gif') 94% 50% no-repeat;
    color: #99896b;
    font-size: 11px;
    margin: 7px 12px;
    float: right;
    padding: 4px 24px 4px 12px;
}

#content a.btn-go-hd:hover {
    color: #665b47;
}

.pg-head-form-search {
    float: right;
    margin: 8px 10px 0 0;
}

.pg-head-form-search .field {
    margin-right: 4px;
}

.pg-head-form-search label {
    margin: 3px 10px 0 0;
}

.pg-head-form-search .field-submit {
    margin-top: 1px;
}

.pg-head-form-search .field-text input {
    width: 100px;
}

/*
----------------------------------------------------
COFFEE LOGS
----------------------------------------------------
*/

.coffee-logs {
    margin-bottom: 20px;
}

.coffee-logs li {
    background-color: #fec;
    border-bottom: 1px solid #d9c298;
    line-height: 38px;
}

.coffee-logs .date,
.coffee-logs .info {
    float: left;
}

.coffee-logs .date {
    color: #99896b;
    font-weight: bold;
    padding: 0 10px 0 25px;
    width: 165px;
}

.coffee-logs .info {
    background: url('/_img/background/bg_timeline_item.gif') 0 0 no-repeat;
    padding: 0 30px;
    width: 840px;
}

.charts {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 20px 25px;
}

/*
----------------------------------------------------
COFFEE PLACES
----------------------------------------------------
*/

#coffee-place-map {
    border: 5px solid #ccb78f;
    height: 300px;
    margin-bottom: 25px;
    width: 500px;
}