/*
----------------------------------------------------
BASIC
----------------------------------------------------
*/

body,
input,
select,
textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.4em;
}

body {
    background-color: #341900;
    color: #fff;
}

h1 {
    font-size: 30px;
    font-weight: normal;
    
}

h1,
h1 a {
    display: block;
    height: 70px;
    width: 288px;
}

h1 a {
    background: url('/_img/text/txt_coffee_log.gif') 0 0 no-repeat;
}

#content h2,
#content h3 {
    font-size: 16px;
    line-height: 1em;
    padding: 15px 25px;
}

#content h4 {
    font-size: 12px;
}

hr {
    border: none;
    border-bottom: 1px solid #f2d9aa;
    border-top: 1px solid #d9c298;
    clear: both;
    height: 0;
    margin: 0;
}

.vr {
    border-left: 1px solid #f2d9aa;
    border-right: 1px solid #d9c298;
    width: 0;
}

a {
    color: #994a00;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: #b35600;
}

/*
----------------------------------------------------
GLOBAL
----------------------------------------------------
*/

.alt {
    display: none;
}

hr.dk {
    border-bottom: none;
}

hr.lt {
    border-color: #f2d9aa;
}

/*
----------------------------------------------------
LAYOUT
----------------------------------------------------
*/

#container {
    margin: 0 auto;
    width: 1100px;
}

#header {
    padding: 40px 0;
}

#content{
    -webkit-border-radius-bottomleft: 4px;
    -webkit-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    background-color: #e6cea1;
    color: #341900;
    padding: 5px 0;
}

.inset, .inset-submit { padding: 25px; }
.inset-hor { padding: 0 25px; }
.inset-vert { padding: 25px 0; }
.inset-lrb { padding: 0 25px 25px;}

#content .inset h3 {
    padding-left: 0;
    padding-right: 0;
}

.inset hr {
    margin: 10px 0;
}

.col-l,
.col-r {
    float: left;
    width: 500px;
}

.col-l {
    margin-right: 40px;
}

.col-3-l,
.col-3-c,
.col-3-r {
    float: left;
    padding-bottom: 25px;
    padding-top: 25px;
    width: 332px;
}

#content .col-3-l h3,
#content .col-3-c h3,
#content .col-3-r h3 {
    padding-left: 0;
    padding-right: 0;
}

.col-3-l {
    margin-left: 25px;
}

.col-3-l,
.col-3-c,
.col-3-r {
    margin-right: 25px;
}

#footer {
    color: #4d2500;
    padding: 10px 0 20px;
}

.col-info + .col-info,
.col-info + .col-info-box,
.col-info-box + .col-info {
    margin-top: 20px;
}

.col-info-box {
    background-color: #f2d9aa;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 10px;
}

/*
----------------------------------------------------
NAV
----------------------------------------------------
*/

#nav li {
    float: left;
    margin-right: 2px;
}

#nav a {
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-radius-topleft: 4px;
    -webkit-border-radius-topright: 4px;
    background-color: #4d2500;
    display: block;
    font-size: 14px;
    padding: 8px 20px;
}

#nav a:hover {
    background-color: #592b00;
}

#nav .on a {
    background-color: #e6cea1;
    color: #341900;
}

/*
----------------------------------------------------
BUTTONS
----------------------------------------------------
*/

.btn-add {
    background: url('/_img/buttons/btn_add.gif') 0 0 no-repeat;
    height: 16px;
    width: 16px;
}

.btn-add:hover {
    background-position: 0 -16px;
}

/*
----------------------------------------------------
HEADER
----------------------------------------------------
*/

#header h1 {
    float: left;
}

#header .box-user {
    float: right;
}

/* USER BOX */

.box-user {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #e6cea1;
    color: #341900;
    font-weight: bold;
    padding: 0;
}

.box-user .msg,
.box-user ul {
    float: left;
}

.box-user .msg,
.box-user li a {
    padding: 5px 10px;
} 

.box-user ul {
    border-left: 1px solid #d9c298;
    padding-right: 5px;
}

.box-user li {
    border-left: 1px solid #f2d9aa;
    border-right: 1px solid #d9c298;
    float: left;
}

.box-user li.last {
    border-right: none;
}

.box-user li a {
    display: block;
}

.box-user li a.btn-add {
    margin: 5px;
    padding: 0;
}

/* HEAD BAR */

.hd-bar h3,
.hd-bar h4 {
    float: left;
}

.hd-bar {
    background-color: #ccb78f;
}

/*
----------------------------------------------------
FORMS
----------------------------------------------------
*/

form li {
    padding: 0 0 10px 0;
}

label {
    display: block;
    font-weight: bold;
    padding: 5px;
}

div.selector select {
    background-color: #fff;
}

.errors,
.hint {
    padding: 5px;    
}

.hint {
    color: #99896b;
    font-size: 11px;
}

.errors {
    color: #c00;
    font-weight: bold;
}

.field-text label {
    margin-bottom: 2px;
}

.field-text input,
.field-password input,
.field-textarea textarea {
    border-color: #ccb78f #ffe4b2 #ffe4b2 #ccb78f;
    border-style: solid;
    border-width: 1px;
    color: #333;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 3px 6px;
}

/* CHECKBOX */

.field-checkbox {
    padding-top: 30px;
}

.field-checkbox label {
    padding-top: 1px;
}

.field-checkbox .input {
    float: left;
}

/* HORIZONTAL FORM */

.form-horizontal label,
.form-horizontal .field,
.form-horizontal .input {
    float: left;
}

/* FULL PAGE FORM */

.form-full-page label {
    float: left;
    margin-right: 20px;
    width: 150px;
}

.form-full-page .input,
.form-full-page .field-text input,
.form-full-page .field-password input,
.form-full-page .input select,
.form-full-page .input textarea,
.form-full-page .hint,
.form-full-page .errors {
    width: 300px;
}

.form-full-page .input,
.form-full-page .hint,
.form-full-page .errors {
    margin-left: 170px;
}

/* 3-COLUMN FORM */

.form-3-col .field-text input,
.form-3-col .field-password input,
.form-3-col .input select,
.form-3-col .input textarea,
.form-3-col .hint,
.form-3-col .errors {
    width: 300px;
}

.form-3-col div.selector {
    margin-bottom: 0;
}

/*
----------------------------------------------------
PAGES
----------------------------------------------------
*/

#content h2 {
    float: left;
}

a.btn-go-hd {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: #ffedcc url('/_img/icons/icn_arrow_go.png') 94% 50% no-repeat;
    color: #B3A07D;
    padding: 6px 22px 6px 18px;
}

a.btn-go-hd:hover {
    background-color: #fff;
}

.hd-bar a.btn-go-hd {
    margin: 9px 11px 0 0;
    float: right;
}

.pg-head-form-search {
    float: right;
    margin: 8px 10px 0 0;
}

.pg-head-form-search .field {
    margin-right: 4px;
}

.pg-head-form-search label {
    margin: 3px 10px 0 0;
}

.pg-head-form-search .field-submit {
    margin-top: 1px;
}

.pg-head-form-search .field-text input {
    width: 100px;
}

/* SECTION NAV */

.pg-head .section-nav {
    float: right;
    margin-right: 11px;
    margin-top: 6px;
}

.section-nav li {
    float: left;
    margin-left: 1px;
}

.section-nav a {
    background-color: #ffedcc;
    color: #b3a07d;
    display: block;
    padding: 6px 20px;
}

.section-nav a:hover,
.section-nav .on a {
    background-color: #fff;
}

.section-nav .first a {
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-radius-topleft: 4px;
    -webkit-border-radius-bottomleft: 4px;
}

.section-nav .last a {
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-radius-topright: 4px;
    -webkit-border-radius-bottomright: 4px;
}

/*
----------------------------------------------------
COFFEE LOGS
----------------------------------------------------
*/

.coffee-logs {
    margin-bottom: 20px;
}

.coffee-logs li {
    background-color: #fec;
    border-bottom: 1px solid #d9c298;
    line-height: 38px;
}

.coffee-logs .date,
.coffee-logs .info {
    float: left;
}

.coffee-logs .date {
    color: #99896b;
    font-weight: bold;
    padding: 0 10px 0 25px;
    width: 165px;
}

.coffee-logs .info {
    background: url('/_img/background/bg_timeline_item.gif') 0 0 no-repeat;
    padding: 0 30px;
    width: 840px;
}

/* CHARTS */

#content .chart h4 {
    font-size: 16px;
}

.chart .chart-meta,
.chart img {
    float: left;
}

.chart .chart-meta {
    margin-right: 50px;
    width: 350px;
}

/* HOT STUFF */

ul.hot {
    margin-top: 15px;
}

ul.hot li {
    background: #ffe4b2 url('/_img/icons/icn_arrow_go.png') 12px 50% no-repeat;
    margin-bottom: 1px;
    padding: 8px 16px 8px 24px;
}

ul.hot li h4 {
    float: left;
}

ul.hot li .tidbit {
    color: #a69474;
    float: right;
}

/* COFFEE LOG FORM */

.inset-submit,
#form-coffee-log .inset,
#form-coffee-log .inset h3 {
    padding-bottom: 10px;
    padding-top: 10px;
}

#form-coffee-log div.selector { margin-bottom: 0; }

#form-coffee-log h3 {
    font-size: 14px;
}

#field-coffee-drink,
#field-coffee-drink-size,
#field-consumption-date,
#field-consumption-time,
#field-is-homemade,
#field-coffee-place,
#field-coffee-bean,
#field-notes {
    float: left;
}

#field-coffee-drink,
#field-coffee-drink-size,
#field-consumption-date,
#field-consumption-time,
#field-coffee-place,
#field-coffee-bean {
    margin-right: 25px;
}

/* COFFEE DRINK SELECT */

#field-coffee-drink,
#field-coffee-drink div.selector,
#field-coffee-drink select {
    width: 300px;
}

#field-coffee-drink div.selector span {
    width: 263px;
}

/* COFFEE DRINK SIZE SELECT */

#field-coffee-drink-size,
#field-coffee-drink-size div.selector,
#field-coffee-drink-size select {
    width: 100px;
}

#field-coffee-drink-size div.selector span {
    width: 63px;
}

#field-consumption-date,
#field-consumption-time,
#field-is-homemade {
    width: 165px;
}

#field-consumption-date input,
#field-consumption-time input {
    width: 151px;
}

/* DETAIL FIELDS */

#field-coffee-place, #field-coffee-place select { width: 300px; }
#field-coffee-place .selector { width: 290px; }
#field-coffee-place .selector span { width: 263px; }

#field-coffee-bean, #field-coffee-bean select { width: 290px; }
#field-coffee-bean .selector { width: 280px; }
#field-coffee-bean .selector span { width: 253px; }

#field-notes { width: 332px; }
#field-notes input { width: 318px; }

/*
----------------------------------------------------
COFFEE PLACES
----------------------------------------------------
*/

#coffee-place-map {
    border: 5px solid #ccb78f;
    height: 300px;
    margin-bottom: 25px;
    width: 500px;
}

/* PLACES LIST */

.hd-sort {
    background-color: #f2d9aa;
    padding: 8px 0;
}

#content .places-list h3 {
    padding-top: 0;
}

.places-list li {
    padding: 24px 0;
}

.places-list li + li {
    border-top: 1px dotted #ccb78f;
}

.place-map,
.place-name,
.place-categories,
.place-roaster,
.place-logs {
    float: left;
}

.place-map,
.place-name {
    margin-right: 25px;
}

.place-name {
    width: 200px;
}

.place-categories {
    width: 200px;
}

.place-roaster {
    width: 200px;
}

.place-map {
    width: 210px;
}

.place-logs {
    width: 100px;
}

.place-map-box {
    border: 5px solid #D9C298;
    height: 150px;
    width: 200px;
}

/* USER PROFILE */

.stat-box h4,
.stat-box h5 {
    line-height: 100%;
}

.stat-box h4 {
    font-size: 11px;
    margin-bottom: 10px;
}

h5.big-stat {
    font-size: 40px;
}

h5.sub-stat {
    font-size: 18px;
}