<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    	<title>{% block master_page_title %}Coffee Log{% endblock %}</title>
    	{% block master_css %}
    	<link rel="stylesheet" href="/_lib/css/reset.css" type="text/css" media="screen" charset="utf-8" />
    	<link rel="stylesheet" href="/_lib/css/global.css" type="text/css" media="screen" charset="utf-8" />
    	{% endblock %}
    	{% block master_js %}
    	<script type="text/javascript" charset="utf-8" src="/_lib/js/jquery-1.4.js"></script>
    	{% endblock %}
    </head>

    <body>
        <div id="container">
            <div id="header">
                <h1>Coffee Log</h1>
            </div>
            <div id="content">
                <div class="content-inset">
                    {% block master_content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
