<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    	<title>{% block master_page_title %}Coffee Log{% endblock %}</title>
    	{% block master_css %}
    	<link rel="stylesheet" href="/_lib/css/reset.css" type="text/css" media="screen" charset="utf-8" />
    	<link rel="stylesheet" href="/_lib/css/util.css" type="text/css" media="screen" charset="utf-8" />
    	<link rel="stylesheet" href="/_lib/css/uniform.default.css" type="text/css" media="screen" charset="utf-8" />
    	<link rel="stylesheet" href="/_lib/css/global.css" type="text/css" media="screen" charset="utf-8" />
    	{% endblock %}
    	{% block master_js %}
    	<script type="text/javascript" charset="utf-8" src="/_lib/js/jquery-1.4.js"></script>
    	<script type="text/javascript" charset="utf-8" src="/_lib/js/jquery.easing.js"></script>
    	<script type="text/javascript" charset="utf-8" src="/_lib/js/jquery.uniform.js"></script>
    	<script type="text/javascript" charset="utf-8" src="/_lib/js/global.js"></script>
    	{% endblock %}
    </head>

    <body>
        <div id="container">
            <div id="header">
                <h1><a href="/"><span class="alt">Coffee Log</span></a></h1>
                <div class="box-user">
                {% if request.user.is_authenticated %}
                    <div class="msg">Welcome <a href="{{ request.user.get_absolute_url }}">{{ request.user.username }}</a>!</div>
                    <ul>
                        <li><a href="/coffee-log/add/" class="btn-add btn-add-coffee-log"><span class="alt">Add Coffee Log</span></a></li>
                        <li class="last"><a href="/users/logout/" class="link-logout">Logout</a></li>
                    </ul>
                    <div class="cf"></div>
                {% else %}
                    <div class="msg">Welcome! <a href="/users/login/">Click here</a> to login, <a href="/users/register/">click here</a> to register</div>
                {% endif %}
                </div>
                <div class="cf"></div>
            </div>
            <div id="nav">
                <ul>
                    <li class="{% block master_nav_class_logs %}{% endblock %}"><a href="/">Logs</a></li>
                    <li class="{% block master_nav_class_places %}{% endblock %}"><a href="/places/">Places</a></li>
                    <li class="{% block master_nav_class_roasters %}{% endblock %}"><a href="/roasters/">Roasters</a></li>
                    <li class="{% block master_nav_class_beans %}{% endblock %}"><a href="/beans/">Beans</a></li>
                    <!--<li><a href="/users/">Users</a></li>-->
                </ul>
                <div class="cf"></div>
            </div>
            <div id="content">
                {% block master_content %}{% endblock %}
            </div>
            <div id="footer">
                &copy; 2009 Chris Forrette
            </div>
        </div>
    </body>
</html>
