{% extends "master.html" %}

{% block master_nav_class_users %}on{% endblock %}

{% block master_content %}
    <div class="pg-head">
        <ul class="section-nav">
            <li class="first last on"><a href="{% url users %}">List</a></li>
        </ul>
        <h2>Users</h2>
        <div class="cf"></div>
    </div>
    <hr />
    <div class="inset">
        <ul>
            {% for user in users %}
            <li>
                <a href="{{ user.get_absolute_url }}">{{ user.username }}</a>
                {{ user.coffeelog }}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}